@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    height: 100%;
}
:root{
    --GREEN: hsl(75, 94%, 57%);
    --WHITE: hsl(0, 0%, 100%);
    --GREY-700: hsl(0, 0%, 20%);
    --GREY-800: hsl(0, 0%, 12%);
    --GREY-900: hsl(0, 0%, 8%);
}
body{
    font-family: "Inter", serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 6rem;
    position: relative;
    background-color: var(--GREY-900);
}
.attribution {
    align-self: flex-end;
    justify-self: center;
    display: flex;
    font-size: 1.4rem;
    align-items: center;
    margin-bottom: 2rem;
    color: var(--WHITE);
    gap: 1rem;
}
.attribution img  {
    display: none;
}
.attribution a { 
    color: rgb(155, 85, 155);
    text-decoration: none;
}
.attribution p {
    width: max-content;
}
.card{
    background-color: var(--GREY-800);
    width: 32rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    padding: 2rem 0 1rem 0;
    flex-direction: column;
    margin-bottom: 4rem;
}
.card img{
    width: 9rem;
    border-radius: 50%;
    margin-top: 2rem;
    margin-bottom: 2.5rem;
}
.card__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}
.card__text h1{
    color: var(--WHITE);
    font-size: 3rem;
    margin-bottom: 1rem;
}
.card__text p{
    color: var(--GREEN);
    font-size: 1.8rem;
    font-weight: bold;
}
.card__p{
    color: var(--WHITE);
    font-size: 1.4rem;
    margin-bottom: 3rem;
}
.button{
    width: 27rem;
    height: 4.5rem;
    background-color: var(--GREY-700);
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
    text-decoration: none;
    border: none;
    display: grid;
    font-size: 1.4rem;
    place-content: center;
}
.button a{
    color: var(--WHITE);
    text-decoration: none;
    font-weight: bold;
}
.button:active,button:hover{
    background-color: var(--GREEN);
    cursor: pointer;
}
.button:active a,button:hover a{
    color: var(--GREY-900);
}